<table width="100%" border="0">
    <tr>    
    <td> <a [routerLink]="['/credit-card',token]">
      <img style="max-width: 80%;" src="assets/images/credit-cards.jpg" align="center" /> </a> </td>
    <td> <a [routerLink]="['/crypto-currency',token]">
      <img style="max-width: 80%;" src="assets/images/cryptocurrency.jpg" alt="" align="center" /> </a> </td>
    <td> <a [routerLink]="['/paypal-create-payment',token]">
      <img style="max-width: 80%;" src="assets/images/PayPal.png" alt="" align="center"/> </a> </td>
    </tr>
  </table>